*{
    margin: 0;
    padding: 0;
    border: 0;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 2%;
    justify-content: right;
    align-items: center;
    align-content: center;
}

img{
    width: 100%;
}

.item{
    border: 1px blue solid;
    width: 33%;
}